<header class="navbar sticky-top bg-body-tertiary">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="/">Express app</a>
    <nav class="d-flex align-items-center gap-3">
      {{#if isProduct}}
        <li class="list-unstyled">
          <a class="text-dark" href="/products">Products</a>
        </li>
      {{else}}
        <li class="list-unstyled">
          <a
            class="text-dark text-decoration-none"
            href="/products"
          >Products</a>
        </li>
      {{/if}}
      {{#if isAdd}}
        <li class="list-unstyled">
          <a class="text-dark" href="/add">Add</a>
        </li>
      {{else}}
        <li class="list-unstyled">
          <a class="text-dark text-decoration-none" href="/add">Add</a>
        </li>
      {{/if}}
      <div class="btn-group">
        <button class="btn btn-primary">
          <a href="/login" class="text-decoration-none text-light">Login</a>
        </button>
        <button class="btn btn-success">
          <a
            href="/register"
            class="text-decoration-none text-light"
          >Register</a>
        </button>
      </div>
    </nav>
  </div>
</header>