<div class="w-50 mx-auto">
  <form action="/register" method="post" class="mt-5 d-flex flex-column">
    <h1 class="text-center">Register</h1>
    {{#if registerError}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        {{registerError}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    {{/if}}
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 1fr;">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="firstName"
          placeholder="Suhrob"
        />
        <label for="floatingInput">FirstName</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingLastName"
          name="lastName"
          placeholder="Rahmatullayev"
        />
        <label for="floatingLastName">LastName</label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingEmail"
        name="email"
        placeholder="name@example.com"
      />
      <label for="floatingEmail">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
  </form>
</div>